* {
    box-sizing: border-box;
}

body{
margin: auto;
}

.box0 {
    position: relative;
    width: 1920px;
    height: 2464px;
    background: #F9F9F9;
    margin: auto;
}

.box1 {
    width: 1920px;
    height: 700px;
    background: #eeeff1;
    padding-left: 430px;
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 400;
}

.item1{
    padding-left: 0;
    font-family:'Roboto', Arial , sans-serif;
    font-weight: 500;
    color: #34547A;
}

.box0-1>p{
    font-family: 'Roboto', Arial , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.button {
    position: absolute;
    width: 225px;
    height: 65px;
    background: #34547A;
    text-align: center;
    padding-top: 25px;
    color: #EEEFF1;
    margin-top: 65px;
    border: 0;
}


h1{
    font-family: 'Roboto', Arial , sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    padding-top: 50px;
    padding-top: 100px;
}


.about{
    font-family: 'Roboto', Arial , sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    padding-top: 50px;
}



ul{
    padding-left: 0;
}



a{
    text-decoration: none;
    color: #000000;
}

li {
    display: inline-block; 
    padding-left: 40px;
    padding-top: 50px;
}

.box1-1>p{
    font-family: 'Roboto', Arial , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    text-align: center;
}

.box2{
    display: inline-block;
    width: 1920px;
    height: 250px;
    background: #34547A;
    padding-left: 430px;
    font-family: 'Roboto', Arial , sans-serif;
}

.item{
    display: inline-block;
    background: #34547A;
    padding-left: 460px;
    padding: 15px;
    padding-top: 50px;
    margin-left: 0;
    color: #FFFFFF;
}



img{
    padding-left: 20px;
    width: 80px;
}

.box3 {
    width: 1920px;
    height: 1004px;
    background: #EEEFF1;
    /* padding-left: 430px; */
    font-family: 'Roboto', Arial , sans-serif;
}

.box3>p{
    font-family: 'Roboto', Arial , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    text-align: center;
}

video{
    position: absolute;
    width: 1110px;
    height: 600px;
    left: 405px;
    padding-top: 20px;
}

.work{
    font-family: 'Roboto', Arial , sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin-top: 0;
    padding-top: 70px;
}


.box4{
    width: 1920px;
    height: 151px;
    background: #34547A;
    color: #FFFFFF;
    padding-left: 430px;
    font-family: 'Roboto', Arial , sans-serif;
}


button{
    background:#34547A;
    color: #EEEFF1;
    position: absolute;
    width: 150px;
    height: 45px;
    font-family: 'Roboto', Arial , sans-serif;
    margin-top: 60px;
}


h3{
    margin-top: 0;
    padding-top: 40px;
    font-family: 'Roboto', Arial , sans-serif;
}